name: terraform-plan

on:
  workflow_call:
    inputs:
      environment: { type: string, required: true }
      tfvars_file: { type: string, required: true }
      rgname: { type: string, required: true }
      saname: { type: string, required: true }
      scname: { type: string, required: true }
      key: { type: string, required: true }
    secrets:
      CLI_ID: { required: true }
      TEN_ID: { required: true }
      SUB_IS: { required: true }

jobs:
  plan:
    runs-on: self-hosted
    steps:
      - uses: actions/checkout@v4
      - uses: azure/login@v2
        with:
          client-id: ${{ secrets.CLI_ID }}
          tenant-id: ${{ secrets.TEN_ID }}
          subscription-id: ${{ secrets.SUB_IS }}
      - name: Terraform Init + Plan
        working-directory: infra
        run: |
          terraform init -input=false             -backend-config="resource_group_name=${{ inputs.rgname }}"             -backend-config="storage_account_name=${{ inputs.saname }}"             -backend-config="container_name=${{ inputs.scname }}"             -backend-config="key=${{ inputs.key }}"
          terraform plan -var-file="../${{ inputs.tfvars_file }}" -out="tfplan-${{ inputs.environment }}.tfplan"
      - uses: actions/upload-artifact@v4
        with:
          name: tfplan-${{ inputs.environment }}
          path: infra/tfplan-${{ inputs.environment }}.tfplan
